@media screen and (max-width: 1400px) {
    #home {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    #home, .section-container {
        display: block;
    }
    .arrow, .about-arrow, .contact-arrow, .home-arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
        
    }
    section {
        margin: 5% 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .contact-info-upper-container {
        width: fit-content;
    }

    #about {
        margin-top: 10rem;
    }

    .advertisement {
        margin-bottom: -2rem;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-pic {
        height: 380px;
        width: 300px;
    }


}

@media screen and (max-width: 600px) {

    #contact, footer {
        height: 40vh;
    }

    #home {
        height: 83vh;
        margin-bottom: 0;
    }

    #about {
        margin-top: 13rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-upper-container {
        margin-top: 3rem;
    }


    .contact-info-upper-container p, .nav-links li a {
        font-size: 1rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vh;
        justify-content: center;
    }

    .text-container {
        text-align: center;
    }

    .section-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-pic {
        height: 240px;
        width: 200px;
    }

}